.home-page {
     background: $bg-color;
     color: $second-color;
}

.introduction {
     &-headline {
          h1 {
               text-align: center;
          }
     }

     &-img {
          img {
               max-width: 100%;
          }
     }
}