.lehrpfade-page {
     background: $second-color;
     color: $main-color;
     overflow-x: hidden;
}

.l-introduction {
     position: relative;
     margin-bottom: 7rem;

     &-headline {
          text-align: center;
     }

     &-img {
          img {
               max-width: 125%;
          }
     }

     &-text {
          display: flex;
          flex-wrap: wrap;
     }

     &::after {
          content: '';
          background: url('../../assets/waves/lehrpfade-introduction.png');
          position: absolute;
          bottom: 0;
          transform: translateY(95%);
          height: 160px;
          width: 100%;
     }
}

.l-benefits {
     &-img {
          img {
               max-width: 100%;
          }
     }

     &-text {
          display: flex;
          flex-wrap: wrap;
     }
}
.l-ralleytext {
     &-headline {
          text-align: center;
     }
}