.lehrpfade-page {
     background: $second-color;
     color: $main-color;
     overflow-x: hidden;

     .footer-inner-top {
          margin-top: 0 !important;
     }

     @media all and (min-width: $breakpoint-medium) {
          .footer-container {
               background: $bg-color;
          }
     }
}

.l-introduction {
     position: relative;
     margin-bottom: 7rem;

     &-headline {
          margin-bottom: 3rem;
          order: 1;
          text-align: center;
     }

     &-img {
          display: flex;
          align-items: center;
          order: 2;

          img {
               max-width: 100%;
          }

          @media all and (min-width: $breakpoint-medium) {
               order: 4;

               img {
                    max-width: 125%;
               }
          }
     }

     &-text {
          order: 3;
          display: flex;
          flex-wrap: wrap;
     }

     &::after {
          content: '';
          background: url('../../assets/waves/lehrpfade-introduction.png');
          position: absolute;
          bottom: 0;
          transform: translateY(95%);
          height: 160px;
          width: 100%;
     }
}

.l-benefits {
     padding: 8rem 0 5rem;

     &-img {
          display: flex;
          align-items: center;

          img {
               max-width: 100%;
          }
     }

     &-text {
          display: flex;
          flex-wrap: wrap;
     }
}
.l-ralleytext {
     &-headline {
          margin-bottom: 3rem;
          text-align: center;
     }
}

.l-ralley {
     background: $bg-color;
     position: relative;
     margin-top: 10rem !important;

     @media all and (max-width: $breakpoint-medium) {
          padding-bottom: 8rem;
     }

     &-plan {
          margin-top: 4rem;

          img {
               max-width: 100%;
          }
     }

     &-legend {
          margin-top: 4rem;
     }

     &::before {
          content: '';
          background: url('../../assets/waves/lehrpfade-ralley.png');
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-99%);
          width: 100%;
          height: 217px;
     }

}

.l-ralley-legend {
     font-family: $font-cheesecake;
}