.contact-page {
    background: $second-color;
    color: $main-color;
    overflow-x: hidden;
}

.formheadline {
    h2 {
        text-align: center;
    }
}

.form {
    color: $second-color;
    max-width: 100%;

    fieldset {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    &-wrapper {
        border-radius: 5rem;
        background-color: $bg-color;
        padding: $col-offset;
        margin-right: $col-offset;
    }

    h3 {
        width: 100%;
    }

    input,
    select,
    textarea {
        padding: .6rem .8rem;
        border-style: solid;
        border-width: .1rem;
        border-color: $second-color;
        border-radius: 15px;
        border-image: none;
        background-color: transparent;

        &:focus-visible,
        &:focus-within,
        &:focus,
        &:active {
            outline: none;
            border-color: $ci-color;
        }
    }

    textarea {
        resize: none;
    }

    &-inner {
        max-width: 100%;
    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        input,
        select {
            margin-bottom: .7rem;
        }

        > label {
            font-weight: 600;
            text-transform: uppercase;
        }

        > * {
            width: 100%;
        }

        &-inner {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            input {
                margin: 0 .3rem 0 0;
            }
        }
    }

    &-radio,
    &-checkbox {
        position: relative;
        width: 100%;

        &-headline {
            font-weight: 600;
            text-transform: uppercase;
            border-bottom: .125rem solid $ci-color;
        }
    }

    &-anschrift {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    &-tage {
        margin-bottom: 1rem;

        &-headline {
            font-weight: 600;
            text-transform: uppercase;
            border-bottom: .125rem solid $ci-color;
            width: unset;
        }
    }

    &-seminar {
        .form-item-inner {
            margin-bottom: 1rem;
        }
    }

    &-kommentar {
        margin-bottom: 1rem;
    }

    &-liste-headline {
        text-transform: uppercase;
        font-weight: 600;
    }

    &-newsletter {
        margin: 1rem 0;
    }

    &-pflichtfeld p{
        font-size: 1rem;
        line-height: 1rem;
        opacity: .7;
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    [type="radio"],
    [type="checkbox"] {
        border: none;
        position: absolute;
        padding-left: 0;
        left: 0;
        top: 0;
        z-index: 0;
        -webkit-appearance: none;

        + label {
            display: flex;
            align-items: center;
            padding: .2rem .2rem .2rem 1.5rem;
            top: 0;
        }

        &::before {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid $second-color;
            background-color: transparent;
            display: block;
            content: "";
            float: left;
            margin-right: 5px;
            z-index: 5;
            position: relative;
        }

        &:checked::before {
            box-shadow: inset 0px 0px 0px 3px #fff;
            background-color: $ci-color;
            border-color: $ci-color;
        }
    }

    [type="checkbox"] {
        &::before {
            border-radius: 5px;
        }

        &.empty {

            &::before { 
                border: 2px solid red;
                background-color: red;
            }
        }
    }

    @media all and (min-width: $breakpoint-medium) {
        &-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        &-name,
        &-mail,
        &-tel,
        &-institution,
        &-teilnahme {
            width: 48%;
        }

        &-strasse,
        &-kommentar,
        &-button {
            width: 100%;
        }

        &-plz {
            width: 28%;
        }

        &-ort {
            width: 68%;
        }
    }
}