@font-face {
    font-family: sourcesansRegular;
    src: url(../../../assets/fonts/source-sans/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: sourcesansBold;
    src: url(../../../assets/fonts/source-sans/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: bembo;
    src: url(../../../assets/fonts/bembo/BemboStd.ttf);
}