$h1-font-size: 2.8rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$bembo-font-size: 2.5rem;

$h1-margin: 1rem 0 .5rem 0;
$h2-margin: 1rem 0 .5rem 0;
$h3-margin: 1rem 0;

$regular-font-size: 1.1rem;
$regular-line-height: 1.8rem;

$font-sourcesansRegular: 'sourcesansRegular';
$font-sourcesansSemiBold: 'sourcesansSemiBold';
$font-sourcesansBold: 'sourcesansBold';
$font-sourcesansBlack: 'sourcesansBlack';
$font-bembo: 'bembo';

h1,
h2,
h3,
h4 {
     font-family: $font-sourcesansSemiBold;
}

h1 {
     font-size: $h1-font-size;
     margin: $h1-margin;
}

h2 {
     text-transform: uppercase;
     font-size: $h2-font-size;
     margin: $h2-margin;
}

h3 {
     font-size: $h3-font-size;
     margin: $h3-margin;
}

h5 {
     font-family: $font-bembo;
     font-size: $bembo-font-size !important;
     font-weight: 100;
     line-height: 3rem;
     margin: 2rem 0 !important;
}

a {
     text-decoration: none;
}

.text {
     font-family: $font-sourcesansRegular;
     font-size: $regular-font-size;
     line-height: $regular-line-height;
}